@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome</h2>

<ul>
    @for(int x = 0; x < ViewBag.NumTimes; x++)
    {
     <li>@ViewBag.Message</li>
    }
</ul>